In [20]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt
import yfinance as yf
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
from tqdm import tqdm

In [85]:
ETF=['DIA','SPY','QQQ']

In [96]:
etf_df = pd.DataFrame()
etf_dict = {}
for code in ETF:
    ticker = yf.Ticker(code)
    tsd = ticker.history(period='3d', interval='1d', start=None, end=None, actions=True, 
                         auto_adjust=True, back_adjust=False)    
    tsd["code"] = code
    etf_dict[code] = tsd.reset_index()
    # etf_df = pd.concat([etf_df, tsd])
    
# etf_df = etf_df.reset_index()

In [43]:
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056108,0.064359,0.056108,0.061608,1031788800,0.0,0.0
1986-03-14,0.061608,0.064909,0.061608,0.063809,308160000,0.0,0.0
1986-03-17,0.063809,0.065459,0.063809,0.064909,133171200,0.0,0.0
1986-03-18,0.064909,0.065459,0.062708,0.063258,67766400,0.0,0.0
1986-03-19,0.063258,0.063809,0.061608,0.062158,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2021-06-28,266.190002,268.899994,265.910004,268.720001,19590000,0.0,0.0
2021-06-29,268.869995,271.649994,267.980011,271.399994,19937800,0.0,0.0
2021-06-30,270.690002,271.359985,269.600006,270.899994,21656500,0.0,0.0
2021-07-01,269.609985,271.839996,269.600006,271.600006,16725300,0.0,0.0
2021-07-02,272.820007,278.000000,272.500000,277.649994,26458000,0.0,0.0

In [44]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0

[79 rows x 2 columns]

In [45]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-05-20    0.51
2020-08-19    0.51
2020-11-18    0.56
2021-02-17    0.56
2021-05-19    0.56
Name: Dividends, Length: 70, dtype: float64

In [46]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [47]:
msft.financials

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Research Development,19269000000.0,16876000000.0,14726000000.0,13037000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,53036000000.0,43688000000.0,36474000000.0,29901000000.0
Minority Interest,None,None,None,None
Net Income,44281000000.0,39240000000.0,16571000000.0,25489000000.0
Selling General Administrative,24709000000.0,23098000000.0,22223000000.0,19942000000.0
Gross Profit,96937000000.0,82933000000.0,72007000000.0,62310000000.0
Ebit,52959000000.0,42959000000.0,35058000000.0,29331000000.0
Operating Income,52959000000.0,42959000000.0,35058000000.0,29331000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2591000000.0,-2686000000.0,-2733000000.0,-2222000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,8755000000.0,4448000000.0,19903000000.0,4412000000.0
Total Revenue,143015000000.0,125843000000.0,110360000000.0,96571000000.0
Total Operating Expenses,90056000000.0,82884000000.0,75302000000.0,67240000000.0
Cost Of Revenue,46078000000.0,42910000000.0,38353000000.0,34261000000.0
Total Other Income Expense Net,77000000.0,729000000.0,1416000000.0,570000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,44281000000.0,39240000000.0,16571000000.0,25489000000.0
Net Income Applicable To Common Shares,44281000000.0,39240000000.0,16571000000.0,25489000000.0

In [50]:
msft.quarterly_financials

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Research Development,5204000000.0,4899000000.0,4926000000.0,5214000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,17236000000.0,18337000000.0,16124000000.0,13422000000.0
Minority Interest,None,None,None,None
Net Income,15457000000.0,15463000000.0,13893000000.0,11202000000.0
Selling General Administrative,6409000000.0,6086000000.0,5350000000.0,7073000000.0
Gross Profit,28661000000.0,28882000000.0,26152000000.0,25694000000.0
Ebit,17048000000.0,17897000000.0,15876000000.0,13407000000.0
Operating Income,17048000000.0,17897000000.0,15876000000.0,13407000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-628000000.0,-568000000.0,-585000000.0,-684000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1779000000.0,2874000000.0,2231000000.0,2220000000.0
Total Revenue,41706000000.0,43076000000.0,37154000000.0,38033000000.0
Total Operating Expenses,24658000000.0,25179000000.0,21278000000.0,24626000000.0
Cost Of Revenue,13045000000.0,14194000000.0,11002000000.0,12339000000.0
Total Other Income Expense Net,188000000.0,440000000.0,248000000.0,15000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,15457000000.0,15463000000.0,13893000000.0,11202000000.0
Net Income Applicable To Common Shares,15457000000.0,15463000000.0,13893000000.0,11202000000.0

In [51]:
msft.balance_sheet

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Intangible Assets,7.038000e+09,7.750000e+09,8.053000e+09,1.010600e+10
Total Liab,1.830070e+11,1.842260e+11,1.761300e+11,1.626010e+11
Total Stockholder Equity,1.183040e+11,1.023300e+11,8.271800e+10,8.771100e+10
Other Current Liab,4.600100e+10,4.586000e+10,3.819500e+10,3.087900e+10
Total Assets,3.013110e+11,2.865560e+11,2.588480e+11,2.503120e+11
Common Stock,8.055200e+10,7.852000e+10,7.122300e+10,6.931500e+10
Other Current Assets,1.151700e+10,1.013300e+10,6.855000e+09,5.183000e+09
Retained Earnings,3.456600e+10,2.415000e+10,1.368200e+10,1.776900e+10
Other Liab,3.449200e+10,3.569900e+10,3.570700e+10,2.298600e+10
Good Will,4.335100e+10,4.202600e+10,3.568300e+10,3.512200e+10
Treasury Stock,3.186000e+09,-3.400000e+08,-2.187000e+09,6.270000e+08
Other Assets,1.313800e+10,1.472300e+10,7.442000e+09,6.076000e+09
Cash,1.357600e+10,1.135600e+10,1.194600e+10,7.663000e+09
Total Current Liabilities,7.231000e+10,6.942000e+10,5.848800e+10,5.574500e+10
Deferred Long Term Asset Charges,6.405000e+09,7.536000e+09,1.369000e+09,2.480000e+08
Short Long Term Debt,3.749000e+09,5.516000e+09,3.998000e+09,1.049000e+09
Other Stockholder Equity,3.186000e+09,-3.400000e+08,-2.187000e+09,6.270000e+08
Property Plant Equipment,5.290400e+10,4.385600e+10,3.614600e+10,3.028900e+10
Total Current Assets,1.819150e+11,1.755520e+11,1.696620e+11,1.626960e+11
Long Term Investments,2.965000e+09,2.649000e+09,1.862000e+09,6.023000e+09
Net Tangible Assets,6.791500e+10,5.255400e+10,3.898200e+10,4.248300e+10
Short Term Investments,1.229160e+11,1.224760e+11,1.217180e+11,1.252380e+11
Net Receivables,3.201100e+10,2.952400e+10,2.648100e+10,2.243100e+10
Long Term Debt,5.957800e+10,6.666200e+10,7.224200e+10,7.607300e+10
Inventory,1.895000e+09,2.063000e+09,2.662000e+09,2.181000e+09
Accounts Payable,1.253000e+10,9.382000e+09,8.617000e+09,7.390000e+09

In [52]:
msft.quarterly_balance_sheet

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Intangible Assets,8.127000e+09,6.555000e+09,6.923000e+09,7.038000e+09
Total Liab,1.743740e+11,1.739010e+11,1.776090e+11,1.830070e+11
Total Stockholder Equity,1.345050e+11,1.302360e+11,1.233920e+11,1.183040e+11
Other Current Liab,4.006900e+10,3.992600e+10,4.299600e+10,4.600100e+10
Total Assets,3.088790e+11,3.041370e+11,3.010010e+11,3.013110e+11
Common Stock,8.230800e+10,8.189600e+10,8.108900e+10,8.055200e+10
Other Current Assets,1.203400e+10,1.274800e+10,1.357200e+10,1.151700e+10
Retained Earnings,5.073500e+10,4.497300e+10,3.919300e+10,3.456600e+10
Other Liab,3.160100e+10,3.158500e+10,3.317400e+10,3.449200e+10
Good Will,4.969800e+10,4.421900e+10,4.389000e+10,4.335100e+10
Treasury Stock,1.462000e+09,3.367000e+09,3.110000e+09,3.186000e+09
Other Assets,1.442700e+10,1.356100e+10,1.303400e+10,1.313800e+10
Cash,1.370200e+10,1.443200e+10,1.720500e+10,1.357600e+10
Total Current Liabilities,7.219300e+10,6.748600e+10,7.005600e+10,7.231000e+10
Short Long Term Debt,8.051000e+09,5.387000e+09,6.497000e+09,3.749000e+09
Other Stockholder Equity,1.462000e+09,3.367000e+09,3.110000e+09,3.186000e+09
Property Plant Equipment,6.561800e+10,6.203500e+10,5.697400e+10,5.290400e+10
Total Current Assets,1.656140e+11,1.739730e+11,1.770770e+11,1.819150e+11
Long Term Investments,5.395000e+09,3.794000e+09,3.103000e+09,2.965000e+09
Net Tangible Assets,7.668000e+10,7.946200e+10,7.257900e+10,6.791500e+10
Short Term Investments,1.113110e+11,1.175570e+11,1.207440e+11,1.229160e+11
Net Receivables,2.632200e+10,2.731200e+10,2.285100e+10,3.201100e+10
Long Term Debt,5.000700e+10,5.513600e+10,5.705500e+10,5.957800e+10
Inventory,2.245000e+09,1.924000e+09,2.705000e+09,1.895000e+09
Accounts Payable,1.341200e+10,1.277000e+10,1.250900e+10,1.253000e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,6.405000e+09

In [53]:
msft.cashflow

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Investments,6.980000e+09,5.400000e+08,6.557000e+09,-1.251100e+10
Change To Liabilities,5.230000e+09,4.694000e+09,7.070000e+09,3.901000e+09
Total Cashflows From Investing Activities,-1.222300e+10,-1.577300e+10,-6.061000e+09,-4.678100e+10
Net Borrowings,-5.518000e+09,-4.000000e+09,-1.020100e+10,3.145900e+10
Total Cash From Financing Activities,-4.603100e+10,-3.688700e+10,-3.359000e+10,8.408000e+09
Change To Operating Activities,-6.730000e+08,-1.542000e+09,-4.590000e+08,3.490000e+08
Issuance Of Stock,1.343000e+09,1.142000e+09,1.002000e+09,7.720000e+08
Net Income,4.428100e+10,3.924000e+10,1.657100e+10,2.548900e+10
Change In Cash,2.220000e+09,-5.900000e+08,4.283000e+09,1.153000e+09
Repurchase Of Stock,-2.296800e+10,-1.954300e+10,-1.072100e+10,-1.178800e+10
Effect Of Exchange Rate,-2.010000e+08,-1.150000e+08,5.000000e+07,1.900000e+07
Total Cash From Operating Activities,6.067500e+10,5.218500e+10,4.388400e+10,3.950700e+10
Depreciation,1.230000e+10,1.160000e+10,9.900000e+09,7.800000e+09
Other Cashflows From Investing Activities,-1.241000e+09,-1.241000e+09,-9.800000e+07,-1.970000e+08
Dividends Paid,-1.513700e+10,-1.381100e+10,-1.269900e+10,-1.184500e+10
Change To Inventory,1.680000e+08,5.970000e+08,-4.650000e+08,5.000000e+07
Change To Account Receivables,-2.577000e+09,-2.812000e+09,-3.862000e+09,-1.216000e+09
Other Cashflows From Financing Activities,-3.751000e+09,-6.750000e+08,-9.710000e+08,-1.900000e+08
Change To Netincome,5.577000e+09,-2.521000e+09,-3.054000e+09,1.342000e+09
Capital Expenditures,-1.544100e+10,-1.392500e+10,-1.163200e+10,-8.129000e+09

In [56]:
msft.options

('2021-07-09',
 '2021-07-16',
 '2021-07-23',
 '2021-07-30',
 '2021-08-06',
 '2021-08-20',
 '2021-09-17',
 '2021-10-15',
 '2021-11-19',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16')

In [3]:
# NASDAQ
symbols = get_nasdaq_symbols()

In [4]:
data = {} #データ辞書の作成
error_symbols = [] #エラーが出た場合はその銘柄記号をリストに保管する
for s in tqdm(symbols.index):
    try:
        pass
        # data[s] = web.DataReader(s,"yahoo","2021/6/1")
    except:
        error_symbols.append(s)

100%|███████████████████████████████████████████████████████████████████████| 10870/10870 [00:00<00:00, 2739744.27it/s]

In [61]:
data = yf.download("AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [ ]:
ETF=['DIA','SPY','QQQ','IBB','XLV','IWM','EEM','EFA','XLP','XLY','ITB','XLU','XLF',
     'VGT','VT','FDN','IWO','IWN','IYF','XLK','XOP','USMV','BAB','GLD',
    'VNQ','SCHH','IYR','XLRE','AGG','BND','LQD','VCSH','VCIT','JNK']

In [ ]:
ETF=['DIA','SPY','QQQ']

In [ ]:
date = dt.datetime.today() - dt.timedelta(days=3)
start_date = date.strftime('%Y/%m/%d')

In [ ]:
etf_df = pd.DataFrame()
for code in ETF:
    tsd = web.DataReader(code,"yahoo","2021/1/1")
    # tsd = web.DataReader(code,"yahoo","2021/1/1").reset_index().dropna()
    tsd["code"] = code
    etf_df = pd.concat([etf_df, tsd])

etf_df = etf_df.reset_index(drop=True)